.user-icon{
    width: 40px;
    height: 40px;
    
}

.pedido-title{
    line-height: 2; 
    margin-left: 3px;
}

ion-content{
    --background: #fff url('https://i.ibb.co/yy117xz/Design-sem-nome.png') no-repeat center center / cover;
  }
  