<ion-header [translucent]="true" style="box-shadow: none;">
  <ion-toolbar>
    <ion-title class="ion-text-center" style="font-size: 15px; font-weight: bold; color: rgb(59, 59, 59);">
      Meus Pedidos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >


  <!-- <ion-card >
    <ion-card-header>
      <ion-card-title style="display: flex; justify-content: start; align-content: center;"><img src="{{ result.icone }}" class="user-icon"> <span class="pedido-title">{{ result.titulo }}</span></ion-card-title>
      <ion-card-subtitle>{{ result.nomePrestadora }}</ion-card-subtitle>
      <ion-card-subtitle>Pedido: {{ result.id }}</ion-card-subtitle>
    </ion-card-header>

  </ion-card> -->

  <ion-card *ngFor="let result of results">
    <ion-card-header>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="{{ result.icone }}" alt="" style="width: 100%; height: 100%">
        </ion-thumbnail>
        <ion-label>
          <h3>
            {{ result.titulo }}
          </h3>
          <p>
            {{ result.nomePrestadora }}
          </p>
          <p>
            Pedido: {{ result.id }}
          </p>
        </ion-label>
      </ion-item>
    </ion-card-header>

  </ion-card>


  <ion-card [style.display]="isVisible ? 'block' : 'none'">
    <ion-card-header>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-card-header>

  </ion-card>

  <ion-card [style.display]="isVisible ? 'block' : 'none'">
    <ion-card-header>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-card-header>

  </ion-card >
  <ion-card [style.display]="isVisible ? 'block' : 'none'">
    <ion-card-header>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-card-header>

  </ion-card>
  <ion-card [style.display]="isVisible ? 'block' : 'none'">
    <ion-card-header>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-card-header>

  </ion-card>

  

</ion-content>
