<ion-header [translucent]="true" style="box-shadow: none;">
  <ion-toolbar>
    <ion-title class="ion-text-center" style="font-size: 15px; font-weight: bold; color: rgb(59, 59, 59);">
      Meu Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<br>

<ion-content [fullscreen]="true">
  <div class="grid-container" style="flex-direction: column; height: 50%;">
    <div style="width: 100%; height: 90px; border-bottom: 1px solid rgba(202, 202, 202, 0.473); display: flex;" (click)="account()">
      <div style="display: flex; justify-content: start; align-items: center; flex-direction: row;">
        <ion-icon name="person-outline" style="margin-left: 10px; width: 35px; height: 35px; color: gray;"></ion-icon>
        <div style="display: flex; justify-content: start;flex-direction: column;">
          <span class="categoria-title">{{ user.nome }}</span>
          <span class="categoria-subtitle">Informações sobre sua conta</span>
        </div>
        
      </div>

    </div>
    <div style="width: 100%; height: 90px; border-bottom: 1px solid rgba(202, 202, 202, 0.473); display: flex;">
      <div style="display: flex; justify-content: start; align-items: center; flex-direction: row;">
        <ion-icon name="notifications-outline" style="margin-left: 10px; width: 35px; height: 35px; color: gray;"></ion-icon>

        <div style="display: flex; justify-content: start;flex-direction: column;">
          <span class="categoria-title">Notificações</span>
          <span class="categoria-subtitle">Central de notificações</span>
        </div>
        
      </div>
    
    </div>
    <div style="width: 100%; height: 90px; border-bottom: 1px solid rgba(202, 202, 202, 0.473); display: flex;">
      <div style="display: flex; justify-content: start; align-items: center; flex-direction: row;">
        <ion-icon name="home-outline" style="margin-left: 10px; width: 35px; height: 35px; color: gray;"></ion-icon>
        <div style="display: flex; justify-content: start;flex-direction: column;">
          <span class="categoria-title">Endereços</span>
          <span class="categoria-subtitle">Meus endereços</span>
        </div>
        
      </div>
    
    </div>
    <div style="width: 100%; height: 90px; border-bottom: 1px solid rgba(202, 202, 202, 0.473); display: flex;" (click)="logout()">
      <div style="display: flex; justify-content: start; align-items: center; flex-direction: row;">
        <ion-icon name="log-out-outline" style="margin-left: 10px; width: 35px; height: 35px; color: gray;"></ion-icon>
        <div style="display: flex; justify-content: start;flex-direction: column;">
          <span class="categoria-title">Logout</span>
          <span class="categoria-subtitle">Sair da minha conta</span>
        </div>
        
      </div>
    
    </div>
  </div>
  <p style="text-align: center; color: rgba(128, 128, 128, 0.74);">ICust 1.0</p>
</ion-content>
