<ion-header [translucent]="true" style="box-shadow: none; display: flex;">
  <ion-toolbar>
    <ion-title class="ion-text-center" style="font-size: 15px; font-weight: bold; color: rgb(59, 59, 59); margin-left: -55px;">
      Minhas Informações
    </ion-title>
    
  </ion-toolbar>
  <ion-button slot="start" (click)="backToProfile()"><ion-icon name="arrow-back-outline" ></ion-icon></ion-button>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">account</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
