

<ion-content [fullscreen]="true">
  <div style="background-image: url('https://i.ibb.co/TccMFPf/Design-sem-nome.png'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; display: flex; flex: 1; width: 100%; height: 100%; justify-content: center; align-items: center;">
  
    
    <div style="width: 90%; height: 50%; display: flex; justify-content: center; align-items: center; flex-direction: column; position: fixed;"> 
      <img src="https://i.ibb.co/BPqvHrv/c149c90b-03b9-47d9-a1ad-48b61a9c2e5d-transformed.png" style="width:120px; height: 120px;">
      <br>
      <div  style="width: 100%;">
        <ion-item style=" border-radius: 10px; width: 100%;">
          <ion-label><ion-icon name="mail" style="color: gray;"></ion-icon></ion-label>
          <ion-input placeholder="E-mail" type='email' [(ngModel)]="email" ></ion-input>
        </ion-item>
      </div>
      <br>
      <div style="width: 100%;">
        <ion-item style=" border-radius: 10px; width: 100%;">
          <ion-label><ion-icon name="finger-print" style="color: gray;"></ion-icon></ion-label>
          <ion-input placeholder="Senha" type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
      </div>
      <br>
      <a href="">Esqueci minha senha</a>
      <br>
      <ion-button shape="round" style="width: 170px;" (click)="login()">Login</ion-button>
      <ion-button shape="round" fill="outline" style="width: 170px;" (click)="register()">Registrar</ion-button>
      
    
    </div>
 
  
  </div>
</ion-content>
